apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: cockroachdb-client-root
  namespace: ${CRDB_NAMESPACE}
spec:
  secretName: cockroachdb-client-root
  duration: 8760h  # 1 year
  renewBefore: 720h  # 30 days
  issuerRef:
    name: vault-issuer
    kind: ClusterIssuer
  commonName: root
  dnsNames:
    - root
  usages:
    - client auth
