apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: ${CLIENT_CERT_NAME}
  namespace: ${CRDB_NAMESPACE}
spec:
  secretName: ${CLIENT_CERT_NAME}
  duration: 8760h  # 1 year
  renewBefore: 720h  # 30 days
  issuerRef:
    name: vault-issuer
    kind: ClusterIssuer
  commonName: ${CLIENT_CERT_USER}
  dnsNames:
    - ${CLIENT_CERT_USER}
  usages:
    - client auth
